/* [ON BIG SCREEN] */
/* Wrapper */
#hamnav {
    width: 100%;
    /* Optional */
    position: fixed;
    top: 0;
  }
  
  #hamnav input[type=checkbox] {
      display: none;
  }
  
  /* Horizontal Menu Items */
  #hamitems {
      position: absolute;
      background-color: #333;
      top: 0;
      left: 0;
      padding: 0;
      font-size: 1.2rem;
      z-index: -1;
      display: table;
      width: 100%;
    }


  #hamitems a {
    display: table-cell;
    width: 33.3%; /* 100% / 3 tabs = 33.3% */
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
    /* Toggle Show/Hide Menu */
    #hamitems { display: none;}
    #hamnav input:checked ~ #hamitems { display: block;}
  
    /* Show Hamburger Icon */
    #hamnav label { 
        font-family: "Arial", "Helvetica", sans-serif;
      display: inline-block; 
      color: #333;
      background: #fff;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
      position: absolute;
      right: .6rem;
    }
  /* [ON SMALL SCREENS] */
  @media screen and (max-width: 768px){
  
    /* Break down menu items into vertical */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
  
    /* Toggle Show/Hide Menu */
    #hamitems { display: none;}
    #hamnav input:checked ~ #hamitems { display: block;}
  }
