html {
    min-height: 100%;
    background: #fff;
    color: #333;
    font-size: 18px;
    font-family: "Tryst-Regular", serif;
}

p, li, blockquote {
    color: #333;
}
main {
    margin: 2rem auto 0 auto;
    padding-bottom: 2rem;
    width: 100%;
    max-width: 800px;
}

main p {
    line-height: 1.6;
}

ul:not(#professional):not(#social):not(.books) {
    list-style-type: none;
}

ul:not(#professional):not(#social):not(.books) li:before {
    content: '★';
    display: inline-block;
    margin-right: .3rem;
    color: rgba(255,0,221,1);
    font-size: .6rem;
    transform: rotate(60deg);
}

@media screen and (max-height: 600px) {
    main {
        margin: 0 auto;
    }
}
h1 {
    text-align: center;
    font-family: "Ballpoint Signature";
    font-size: 10rem;
    color: rgba(255,0,221,1);
    margin: 0;
}
h1 span {
    background: linear-gradient(to bottom, rgba(181,0,241,1) 0%, rgba(255,0,221,1) 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
h1 span::after {
    display: block;
    font-size: 20rem;
    content: "";
    margin-top: -19rem;
    margin-bottom: -7rem;
    color: rgba(255,0,221,1);
    background-clip: border-box;
    -webkit-text-fill-color: rgba(255,0,221,1);
}
h1 small {
    font-size: 3rem;
    display: block;
    font-family: "Ballast v0.1 Condensed Bold", serif;
    font-weight: 500;
}
h2 {
    margin-top: 1rem;
    margin-bottom: 0;
    font-family: "Ballast v0.1 Condensed Bold", serif;
    font-weight: 500;
}

h3 small {
    display: block;
}

:not(footer) img {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
    border: 1px solid #aaa;
}

#bio span[data-font-swap-text] {
    font-family: "Ballpoint Signature";
    font-size: 1.5rem;
}

#bio {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-column-gap: 1rem;
    border-top: 1px solid #aaa;
    padding-top: 1rem;
}

#bio img, #bio picture {
    width: 150px;
    height: 150px;
    border: 1px solid #aaa;
}

#social {
    list-style: none;
    display: table;
    margin: 2rem auto 0 auto;
    width: 80%;
    padding: 0;
}
#social li {
    display: table-cell;
    text-align: center;
}

#professional {
    list-style: none;
    display: grid;
    margin: 2rem auto 0 auto;
    width: 80%;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

#professional li {
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,0,221,1);
    padding: .25rem .5rem;
}

#professional a {
    color: white;
    text-decoration: none;
    font-family: "Ballast v0.1 Condensed Bold",serif;
    font-size: 1.4rem;
}

#social li {
    width: 10%;
}
#social li img, #social li svg {
    width: 50%;
    height: auto;
    filter: invert(60%) ;
}
#social li a:hover img, #social li a:hover svgs {
    filter: none;
}
a {
    color: #1081B1;
    text-decoration: underline solid #1081B1;
}

a[href="/"], a[href="/"]:hover {
    text-decoration: none;
}
#intro a, #intro a:hover {
    text-decoration: none;
}

blockquote {
    font-style: italic;
}

blockquote:not(.transcript):first-letter, blockquote:not(.transcript) > p:first-child::first-letter {
    float: left;
    font-size: 2.5rem;
    line-height: 1;
    font-weight: bold;
    margin-right: 1rem;
    color: rgba(255,0,221,1);
    font-family: "Ballpoint Signature";
    margin-top: .5rem;
}

#back a {
    text-decoration: none;
}

#back svg {
    top: .4rem;
    height: 1.4rem;
    width: auto;
    display: inline-block;
    position: relative;
    fill: #1081B1;
}

@media screen and (max-width: 800px) {
    body {
        margin: 0;
    }
    main {
        margin: 1rem auto 0 auto;
        width: 90%;
    }
    h1 {
        margin-top: -2rem;
    }
    h1 span {
        line-height: .9;
        font-size: 5rem;
    }
    h1 span::after {
        font-size: 10rem;
        margin-top: -8rem;
        margin-bottom: 0;
    }
    h1 small {
        font-size: 2rem;    
    }
}

@media screen and (max-width: 500px) {
    h1 small {
        font-size: 1.65rem;
    }
    #professional {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #bio {
        grid-template-rows: 65vw 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
    }

    #bio img {
        margin: 0 auto;
        height: auto;
        width: 80%;
    }
}

@media screen and (max-width: 390px) {
    h1 small {
        font-size: 1.5rem;
    }
}

/* HAM Menu */
/* [ON BIG SCREEN] */
/* Wrapper */
#hamnav {
    width: 100%;
    /* Optional */
    position: fixed;
    top: 0;
  }
  
  #hamnav input[type=checkbox] {
      display: none;
  }
  
  /* Horizontal Menu Items */
  #hamitems {
      position: absolute;
      background-color: #333;
      top: 0;
      left: 0;
      padding: 0 5rem 0 0;
      font-size: 1.2rem;
      z-index: -1;
      display: table;
      width: 90%;
    }


  #hamitems a {
    display: table-cell;
    width: 20%; /* 100% / 5 tabs = 20% */
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
    /* Toggle Show/Hide Menu */
    #hamitems { display: none;}
    #hamnav input:checked ~ #hamitems { display: block;}
  
    /* Show Hamburger Icon */
    #hamnav label { 
        font-family: "Arial", "Helvetica", sans-serif;
      display: inline-block; 
      color: #333;
      background: #fff;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
      position: absolute;
      right: .6rem;
    }
  /* [ON SMALL SCREENS] */
  @media screen and (max-width: 768px){
  
    /* Break down menu items into vertical */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
  
    /* Toggle Show/Hide Menu */
    #hamitems { display: none;}
    #hamnav input:checked ~ #hamitems { display: block;}
  }
