h2 {
    color: #3D0023;
    font-size: 8rem;
    margin: 0 auto 0 auto;
    text-align: center;
    line-height: 1;
}

h3 {
    font-size: 7.5rem;
    margin-bottom: .3rem;
    color: #AD5949;
}

section ul {
    list-style: none;
}

section ul li:before {
    content: "★";
    padding-right: .5rem;
    left: 0;
}

h1 {
    margin-bottom: 1rem;
}

#intro h2 {
    font-size: 1.2rem;  
    font-family: sans-serif;
    font-weight: 700;
}

#aboutme h2 {
    color: rgb(153, 0, 255);
}

#aboutme p:first-child {
    margin-top: 0;
}

#aboutme div {
    column-count: 2;
    column-gap: 3rem;
}

#contact h2 {
    color: #0000ff;
}

#values h2 {
    color: rgb(255, 0, 255);
}

#values h3 {
    display: inline;
    color: #000;
    font-family: "Vollkorn";
    font-size: 1rem;
    font-weight: bold;
}

#values h3 + p {
    display: inline;
}

#values h3:after {
    content: ":";
}

#values h3:before {
    content: "";
    display: block;
    clear: left;
    margin-top: 1em;
}

#oneonones h2 {
    color: rgb(153, 0, 255);
}

#feedback h2 {
    color: #0000ff;
}

#code h2 {
    color: rgb(56, 118, 29);
}

#agile h2 {
    color: #ff0000;
}

#inspiration h2 {
    color: rgb(166, 77, 121);
}

.twitter-tweet-rendered, img[src$=gif], video {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img[src$=gif], video {
    max-width: 80%;
}

blockquote {
    font-style: italic;
}

cite::before {
    content: "\2014 ";
}

.books {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(287px, .5fr));
    grid-gap: 1rem;
    margin-top: 2rem;
}

section .books li:before {
    content: none;
    padding: inherit;
}

.books a {
    border: none;
}

figure {
    max-width: 80%;
    display: block;
    margin: 1rem auto;
}

figure img {
    width: 100%;
}

figcaption, figcaption a {
    font-size: 12px;
}

@media (max-width: 768px) {
    #aboutme div {
        column-count: 1;
        column-gap: 3rem;
    }
}
@media screen and (max-width: 800px) {
    h2 {
        font-size: 3rem;
    }
}
